.TreeSelector-body {
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start; /* Align all items to the top */
  color: white;
}

.TreeSelector-body > div:first-of-type {
  flex-grow: 0; /* Prevents the 'Your Trees:' div from stretching */
  display: flex;
  align-items: center; /* Optional: Center-align text vertically within the div */
  justify-content: flex-start; /* Align text to the start (left) */
  padding: 20px;
}

.TreeSelector-body > .row {
  margin: 0; /* Remove margin between rows if present */
  display: flex; /* Ensure Row behaves like a flex container */
  flex-wrap: wrap; /* Allow Cols to wrap within Row */
  justify-content: flex-start; /* Align Cols to the start of Row */
  align-items: flex-start; /* Align Cols to the top of Row */
}
